#login-container {
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tab-elm {
    width: 100%;
    margin-top: 5px;
}

.tab-elm span {
    width: 55%;
}

.tab-elm button {
    width: 100%;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #9292d1;
}

.menu a {
    text-decoration: none;
    font-family: sans-serif;
    color: #5757a0;
    display: inline-block;
    padding: 10px 20px;
    background-color: lavender;
    border-bottom: 5px solid #5757a0;
}

.menu li {
    display: inline;
}