.prodName {
    font-size: 40px;
    font-weight: bold;
}

.prodPrice {
    font-size: 22px;
    margin-left: 25%;
    margin-top: 25px;
    margin-bottom: 10px;
}

.number {
    margin-left: 20%;
    margin-top: 20px;
}

.btn {
    margin-left: 20%;
    margin-top: 30px;
}

.upperPart {
    margin-left: -30%;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    float: right;
}

.manufacturer {
    margin-left: 10%;
    margin-top: 5%;
    font-size: 18px;
    max-width: 40%;
}


.indications {
    max-width: 35%;
    font-size: 18px;
    margin-top: 5%;
    margin-left: 10%;
    float: left;
}

.sideEffects {
    max-width: 35%;
    font-size: 18px;
    margin-top: 5%;
    margin-left: 10%;
    float: right;
}

.prescibed {
    max-width: 80%;
    font-size: 18px;
    margin-top: 10%;
    margin-left: 10%;

}

.image {
    width: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 40%;
    float: left;
}
